@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 rounded-lg
    focus-visible:border-green-600 focus-visible:ring-2 focus-visible:ring-gray-400/60 focus-visible:ring-offset-1;
  }
  input:not([type="checkbox"]):-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: currentColor;
  }
  textarea {
    @apply outline-none border border-gray-300 rounded-lg
    focus-visible:border-green-600 focus-visible:ring-2 focus-visible:ring-gray-400/60 focus-visible:ring-offset-1
    resize-none;
  }
}
